@import "_css/normalize";
@import "_css/typeplate";

// mixins

.hidden-phone {
	@media (max-width: 767px) {
		display: none;
	}
}

// layout

@toc-width: 230px;
@top-height: 45px;

body.toc-open {
	#main, #toc, #top {
		left: @toc-width;
	}
}

#top {
	position: fixed;
	width: 100%;
	top: -@top-height;
	left: 0;
	height: @top-height - 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	border-bottom: 1px solid #aaa;
	padding-left: 50px;
	background: white;

	transition: top 0.2s ease-out, left 0.2s ease-out;
	@media (max-width: 767px) {
		top: 0;
	}

	.title {
		line-height: @top-height - 5px;
		.light {
			font-style: italic;
			color: #888;
		}
	}

	#toggle-toc-target {
		height: 18px;
		width: 18px;
		padding: 14px 10px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		&:hover { cursor: pointer; }
		.toggle-toc, .toggle-toc:after, .toggle-toc:before {
			height: 3px;
			width: 18px;
			background-color: #111;
			border-radius: 10px;
			position: relative;
		}

		.toggle-toc:after {
			top: 6px;
		}

		.toggle-toc:before {
			top: 12px;
		}

		.toggle-toc:after, .toggle-toc:before {
			content: '';
			position: absolute;
		}
	}
}

#main {
	position: relative;
	left: @toc-width;

	padding: 30px;
	box-sizing: border-box;
	max-width: 700px;
	

	transition: left 0.2s ease-out, top 0.2s ease-out;
	@media (max-width: 767px) {
		top: @top-height;
		left: 0;
	}

	@media (min-width: 768px) {
		margin-right: @toc-width;
	}

	p {
		margin: 0 0 .5em;
	}

	h2, h3, h4, h5, h6 {
		position: relative;
		a.anchor {
			display: none;
			position: absolute;
			top: 0;
			left: -35px;
			width: 35px;
			padding-right: 10px;
			box-sizing: border-box;
			text-align: right;
			color: #36b;
			text-decoration: none;
			&:hover { display: block; cursor: pointer; }
		}
		&:hover { a.anchor { display: block; }}
	}

	h2 {
		font-size: 1.7em;
		padding-bottom: .3em;
		margin: 3em 0 1em;
		border-bottom: 1px solid #ccc;
	}

	h3 {
		margin: 1.4em 0 .8em;
		font-size: 1.3em;
	}

	h4 {
		margin: 1.4em 0 .8em;
		font-size: 1.15em;
	}

	h5 {
		margin: 1.4em 0 .6em;
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: bold;
		color: #959595;
	}

	span.h5 {
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: bold;
		color: #959595;	
	}

	ul {
		margin-top: 0;
	}

	dl dt {
		font-weight: bold;
	}

	p.focus {
		padding: 10px;
		font-size: 0.9em;
		border-radius: 6px;
	}

	p.soft {
		background: #fcf8e3;
		border: 1px solid #faebcc;
	}

	p.important {
		background: lighten(#f0ad4f, 15%);
		border: 1px solid lighten(#f0ad4f, 2%);
	}

	p.warning {
		color:red;
		font-size:1.2em;
	}

	p.where {
		margin-top: -10px;
		padding-left: 17px;
	}

	pre {
		border-radius: 4px;
		padding: 4px 8px;
		background: #eee;
		font-size: 0.9em;
	}

	table.request {
		border-left: 1px solid #534fd9 !important;
	}

	a {
		color: #36b;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	a[href^="http://"],	a[href^="https://"] {
		background: no-repeat;
		background-position: 100% 50%, 100% 50%;
	  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
	  padding-right: 13px;
	}

	code {
		font-size: 0.9em;
		white-space: nowrap;
	}

	blockquote {
		font-style: italic;
	}

	table {
		width: 100%;
		max-width: 100%;
		font-size: 0.9em;
		border-spacing: 0;
		border-collapse: collapse;
		border: 1px solid #ddd;
		margin-bottom: 20px;
		> thead,
	  > tbody,
	  > tfoot {
	    > tr {
	      > th,
	      > td {
	        padding: 6px 10px;
	        line-height: 1.4em;
	        vertical-align: middle;
	        border: 1px solid #ddd;
	      }
	    }
	  }
	  > thead > tr > th {
	    background: #eee;
	  }

	}

	hr {
		border: 0;
    border-bottom: 1px solid #ccc;
    background: #999;
    margin: 12px 0;
	}

	span[class^="api-"] {
		padding: 0 5px;
		border-radius: 5px;
		border: 1px solid #aaa;
		font-size: 0.9em;
		&.api-host { background: #fff; }
		&.api-auth { color: #fff; background: #666; border-color: #666; }
		&.api-input { color: #fff; background: lighten(#0f6ab4, 25%); border-color: lighten(#0f6ab4, 15%); }
		&.api-output { color: #fff; background: lighten(#3c967c, 15%); border-color: lighten(#3c967c, 10%); }
	}

	span.scopes {
		font-size: 0.9em;
		margin-right: 3px;
		font-weight: bold;
		color: #959595;
	}

	.api-entry {
		background: #fafafa;
		border: 1px solid #bbb;
		border-left: 4px solid #bbb;
		padding: 5px;
		padding-left: 8px;
		margin: 6px 0;
		.api-command {
			font-family: monospace;
			margin-bottom: 12px;
		}
		.api-options {
			.api-request { float: left; }
			.api-response { float: right; &:before{content: "\2192 "; } }
			// clearfix
			&:before,
		  &:after {
		    content: " "; // 1
		    display: table; // 2
		  }
		  &:after {
		    clear: both;
		  }
		}		
		.api-scopes {
			margin-top: 8px;
			padding-top: 4px;
			border-top: 1px solid #eee;
			font-size: 0.9em;
		}
	}

	.todo {
		display: none;
	}

}


#toc {
	position: fixed;
	left: @toc-width;
	top: 0;
	bottom: 0;
	margin-left: -@toc-width;
	width: @toc-width;
	padding: 0 10px 10px;
	box-sizing: border-box;
	z-index: 1000;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	border-right: 1px solid #aaa;
	background: #f4f4f4;

	transition: left 0.2s ease-out;
	@media (max-width: 767px) {
		left: 0;
	}

	h1 {
		font-size: 1.1em;
		padding: 20px 0 .6em 8px;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	section > ul {
		a {
			display: inline-block;
			text-decoration: none;
			color: #222;
			padding: 0 8px;
			&:hover {
				border-radius: 3px;
				background: #fff;
			}
		}
		> li > a {
			font-size: 1.1em;
			font-weight: bold;
			margin: .6em 0 .2em;
			padding: .1em 8px;
		}
		> li > ul > li > a {
			padding-top: .1em;
			margin: 0;
		}
		> li > ul > li > ul > li > a {
			font-size: 0.9em;
			margin-left: 1em; 
		}
	}

	p {
		font-size: 0.9em;
		font-style: italic;
		color: #888;
		margin: 0 0 .2em 8px;
	}
}



