<div id="toc">
  <section class="hidden-phone">
    <h1>Ozwillo Documentation</h1>
    <p>v1.8</p>
  </section>
  <section>
    <ul>
      <li>
        <a href="#s1-introduction">Introduction</a>
        <ul>
          <li><a href="#s1-ui">User interface and portal features</a></li>
          <li><a href="#s1-programming-interface">Programming interface</a></li>
          <li><a href="#s1-terminology">Terminology</a></li>
          <li><a href="#s1-visibility-restricted">Visibility vs restricted access</a></li>
          <li>
            <a href="#s1-authorized-users">Authorized users</a>
            <ul>
              <li><a href="#s1-app-admin-app-user"><code>app_admin</code> vs <code>app_user</code></a></li>
              <li><a href="#s1-authorization">Authorization in brief</a></li>
              <li><a href="#s1-scopes">Scopes</a></li>
            </ul>
          </li>
          <li><a href="#s1-conventions">Documentation conventions</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#s2-experiment">Experiment</a>
        <p>How to play with Ozwillo APIs</p>
        <ul>
          <li><a href="#s2-preproduction-sandbox">Preproduction sandbox</a></li>
          <li><a href="#s2-openid-configuration">OpenID configuration</a></li>
          <li><a href="#s2-authentication-schemes">Authentication schemes</a></li>
          <li><a href="#s2-recommendations">Recommendations</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#s3-provisioning">Provisioning</a>
        <p>Enabling SaaS deployment</p>
        <ul>
          <li>
            <a href="#s3-prerequesite">Prerequesite</a>
          </li>
          <li>
            <a href="#s3-protocol">Protocol</a>
            <ul>
              <li><a href="#s3-1-ozwillo-request">#1 Ozwillo request</a></li>
              <li><a href="#s3-2-provider-provisioning">#2 Provider provisioning</a></li>
              <li><a href="#s3-3-provider-acknowledgement">#3 Provider acknowledgement</a></li>
              <li><a href="#s3-3bis-provider-dismiss">#3bis Provider dismiss</a></li>
              <li><a href="#s3-destruction">Instance destruction</a></li>
            </ul>
          </li>
          <li><a href="#s3-faq">FAQ</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#s4-user-authentication">User Authentication</a>
        <ul>
          <li><a href="#s4-introduction">Introduction</a></li>
          <li><a href="#s4-prerequesite">Prerequesite</a></li>
          <li>
            <a href="#s4-auth-code-flow">Authorization code flow</a>
            <ul>
              <li><a href="#s4-1-authentication-request">#1 Authentication request</a></li>
              <li><a href="#s4-2-ozwillo-response">#2 Ozwillo response</a></li>
              <li><a href="#s4-3-response-validation">#3 Response Validation</a></li>
              <li><a href="#s4-4-token-request">#4 Requesting an access token</a></li>
              <li><a href="#s4-5-ozwillo-response">#5 Ozwillo response</a></li>
              <li><a href="#s4-6-token-validation">#6 Token decoding and validation</a></li>
            </ul>
          </li>
          <li><a href="#s4-sign-out">Sign-out</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#s5-api-reference">API Reference</a>
        <ul>
          <li>
            <a href="#s5-introduction">Introduction</a>
            <ul>
              <li><a href="#s5-endpoints-description">Endpoints description</a></li>
              <li><a href="#s5-common-behaviour">Common behaviour</a></li>
            </ul>
          </li>
          <li><a href="#s5-api-keys">Keys</a></li>
          <li><a href="#s5-api-users">Users</a></li>
          <li><a href="#s5-api-authorization">Authorization</a></li>
          <li><a href="#s5-api-tokens">Tokens</a></li>
          <li><a href="#s5-api-app-nstances">Instances</a></li>
          <li><a href="#s5-api-services">Services</a></li>
          <li><a href="#s5-api-access-control">Access control</a></li>
          <li><a href="#s5-api-notifications">Notifications</a></li>
          <li><a href="#s5-api-events">Events</a></li>
        </ul>
      </li>
    </ul>
  </section>
</div>