<div id="toc">
  <section class="hidden-phone">
    <h1>Ozwillo Documentation</h1>
    <p>v1.5</p>
  </section>
  <section>
    <ul>
      <li>
        <a href="#ref-1">Introduction</a>
        <ul>
          <li><a href="#ref-1-1">User interface and portal features</a></li>
          <li><a href="#ref-1-2">Programming interface</a></li>
          <li><a href="#ref-1-3">Terminology</a></li>
          <li><a href="#ref-1-4">Visibility and access rights</a></li>
          <li><a href="#ref-1-5">Documentation conventions</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#ref-2">Experiment</a>
        <p>How to play with Ozwillo APIs</p>
        <ul>
          <li><a href="#ref-2-1">Preproduction sandbox</a></li>
          <li><a href="#ref-2-2">Authentication schemes</a></li>
          <li><a href="#ref-2-3">Recommendations</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#ref-3">Provisioning</a>
        <p>Enabling SaaS deployment</p>
        <ul>
          <li>
            <a href="#ref-3-1">Prerequesite</a>
          </li>
          <li>
            <a href="#ref-3-2">Protocol</a>
            <ul>
              <li><a href="#ref-3-2-1">#1 Ozwillo request</a></li>
              <li><a href="#ref-3-2-2">#2 Provider provisioning</a></li>
              <li><a href="#ref-3-2-3">#3 Provider acknowledgement</a></li>
              <li><a href="#ref-3-2-4">#3bis Provider dismiss</a></li>
              <li><a href="#ref-3-2-5">Instance destruction</a></li>
            </ul>
          </li>
          <li><a href="#ref-3-3">Instance management in the portal</a></li>
          <li><a href="#ref-3-4">FAQ</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#ref-4">User Authentication</a>
        <ul>
          <li><a href="#ref-4-1">Introduction</a></li>
          <li><a href="#ref-4-2">Prerequesite</a></li>
          <li>
            <a href="#ref-4-3">Authorization code flow</a>
            <ul>
              <li><a href="#ref-4-3-1">Preparing the authentication request</a></li>
              <li><a href="#ref-4-3-2">Authentication request</a></li>
              <li><a href="#ref-4-3-3">Kernel processing</a></li>
              <li><a href="#ref-4-3-4">Requesting an access token</a></li>
              <li><a href="#ref-4-3-5">Validating the access token</a></li>
            </ul>
          </li>
          <li><a href="">FAQ</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="#ref-5">Kernel API</a>
        <ul>
          <li><a href="">Users</a></li>
          <li><a href="">Memberships</a></li>
          <li><a href="">Tokens</a></li>
          <li><a href="">Instances</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Subscriptions</a></li>
        </ul>
      </li>
    </ul>
  </section>
</div>